<%= render "shared/header" %>
<div class="main">
  <div class="container">
   <%= render "shared/sidebar" %>
    <div class='registration-main'>
      <div class="inner">
        <div class="user-wrapper">
          <h2 class="page-geading">
            <%="#{@user.nickname}さんの登録情報"%>
          </h2>
          <h3 class="form-header-text">
          <%= link_to "ユーザー登録情報を編集する", edit_user_registration_path(current_user) %>
          </h3>
          <%= @user.nickname %>
          <%= @user.birth%>
          <%= @user.dream %>
        </div>
      </div>
      <div class="skill-content">
      <h3> スキル一覧</h3>
        <% @skills.each do |skill| %>
          <%= skill.name %>
          <div class="skill-img-content">
          <%= image_tag(skill.image, class: "skill-img") %>
          
        <% end %>
      </div>
      
      <%= link_to '戻る', root_path %>
    </div>
  </div>
</div>