<%= render "shared/header" %>
<div class="main">
  <div class="container">
   <%= render "shared/sidebar" %>
    <div class='registration-main'>
      <div class="inner">
        <div class="user-wrapper">
          <h2 class="page-geading">
            <%="#{@user.nickname}さんの登録情報"%>
          </h2>
          <h3 class="form-header-text">
          <%= link_to "ユーザー登録情報を編集する", edit_user_registration_path(current_user) %>
          </h3>
          <%= @user.nickname %>
          <%= @user.birth%>
          <%= @user.dream %>
        </div>
      </div>
      <div class="skill-content">
      <h3> スキル一覧</h3>
       <ul class='skill-lists'>
        <% @skills.each do |skill| %>
          <li class='list'>
            <div class='skill-info'>
               <h1 class='skill-name'>
                    <%= skill.name %>
                  </h1>
                  <div class='skill-img-content'>
                    <%= image_tag(skill.image, class: "skill-img") %>
                  </div>
          
                <div class='study-info'>
                  <p class='user-name'>ユーザー名:<%= skill.user.nickname %>さんの</p>
                  <p class='skill-total-time'>
                    現在の学習合計時間
                  </p>
                  <p class='total-minute'>
                     <%= skill.total_minute %>分
                  </p>
                </div>
              </li>
         <% end %>
        </ul>
      </div>
      
      <%= link_to '戻る', root_path %>
  
  </div>
</div>