<%= render "shared/header" %>
<div class="main">
  <div class="container">

   <%= render "shared/sidebar" %>
    <div class="skill-contents">

       <ul class='skill-lists'>
          <% @skills.each do |skill| %>
            <li class='list'>
              <div class='skill-info'>
                <%= link_to skill_path(skill.id) do %>
                  <h1 class='skill-name'>
                    <%= skill.name %>
                  </h1>
                  <div class='skill-img-content'>
                    <%= image_tag(skill.image, class: "skill-img") %>
                  </div>
                <% end %>
                <div class='study-info'>
                    <p class='user-name'>ユーザー名:<%= skill.user.nickname %>さんの</p>
                  <p class='skill-total-time'>
                    現在の学習合計時間</p>
                    <p class='total-minute'>
                    <%= skill.total_minute %>
                      分
                  </p>
              
                </div>
               
                <div class='skill-menu'>
                <% if user_signed_in?  && current_user.id == skill.user_id %>
                  <%= link_to "学習時間の追加", new_skill_sum_exp_path(skill.id), class:"sum_exp-btn" %>
                <% end %>
                </div>
              
              </div>
             </li>
          <% end %>
           
          <% if @skills.length == 0 %>
            <li class='list'>
               <div class='skill-info'>
                  <%= link_to '#' do %>
                    <h1 class='skill-name'>
                      スキルの名前 
                    </h1>
                    <div class='skill-img-content'>
                    <%= image_tag "https://1.bp.blogspot.com/-9jufP_s7RQk/X9GX8hoyYdI/AAAAAAABcrU/-2qUflYQuNk2kAdcro0FtD_k21Mb67bwACNcBGAsYHQ/s910/computer_tokui_boy.png", class: "skill-img" %>
                    </div>
                  <% end %>
                  <div class='study-info'>
                    <p class='skill-total-time'>
                    学習時間 999分
                    </p>
                    <p class='user-name'>ユーザー名:テストさん</p>
                  </div>
                  <div class='skill-menu'>
                    <%= link_to "学習時間の追加", "#", class:"sum_exp-btn" %> 
                  </div>
                </div>
            </li>
          <% end %>
       </ul>
    </div>

  </div>

</div>
