<div class='exp_sum-content'>
  <li class='list'>
    
          <div class='skill-img-content'>
            <%= image_tag @skill.image, class: "skill-img" %>
          </div>
          <div class='skill-info'>
            <h1 class='skill-name'>
              <%= @skill.name %>
            </h1>
            <h3 class=>
            <div class='skill-level'>
              <span><%= @skill.level %>Level</span>
            </div>
          </div>
  </li>

  <div class='skills-exp-main'>
    <h2 class='sum_exp-title'>フォームを入力して経験値を取得</h2>
    <%= form_with model: @sum_exp, url:skill_sum_exps_path, id:'charge-form', class:'transaction-form-wrap', local: true do |f| %>

  <%#= render 'shared/error_message', model: f.object %>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">学習時間</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.number_field (:minute, id:"minute") %>
    </div>
    
    <div class='sum-exp-btn'>
      <%= f.submit "学習時間を追加する", class:"sum-exp-red-btn" %>
    </div>
    <% end %>
   
    
  </div>
</div>