<div class='exp_sum-content'>
  <li class='list'>
    
          <div class='skill-img-content'>
            <%= image_tag @skill.image, class: "skill-img" %>
          </div>
          <div class='skill-info'>
            <h1 class='skill-name'>
              <%= @skill.name %>
            </h1>
            <h3 class=>
            <div class='skill-level'>
              <span><%= @skill.level %>Level</span>
            </div>
          </div>
  </li>

  <div class='skills-exp-main'>
    <h2 class='sum_exp-title'>フォームを入力して経験値を取得</h2>
    <%= form_with model: @sum_exp, url:skill_sum_exps_path, id:'charge-form', class:'transaction-form-wrap', local: true do |f| %>

  <%#= render 'shared/error_message', model: f.object %>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">学習時間</label>
        <span class="indispensable">必須</span>
      </div>
      <% minute_options = Minute.order(:id).map { |c| [c.name, c.id, data:{ multiple: c.multiple}] }%>
      <%= f.select(:minute_id, minute_options, {}, {class:"select-box", data:{select:0}, id:"minute"}) %>
    </div>
   
   <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">集中力</label>
        <span class="indispensable">必須</span>
      </div>
      <% concentration_options = Concentration.order(:id).map { |c| [c.name, c.id, data:{ multiple: c.multiple}] }%>
      <%= f.select(:concentration_id, concentration_options,  {}, {class:"select-box", data:{select:0}, id:"concentration"}) %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">新しい技術の獲得</label>
        <span class="indispensable">必須</span>
      </div>
        <% technique_options = Technique.order(:id).map { |c| [c.name, c.id, data:{ multiple: c.multiple}] }%>
      <%= f.select(:technique_id, technique_options, {}, {class:"select-box", data:{select:0}, id:"technique"}) %>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">アウトプット</label>
        <span class="indispensable">必須</span>
      </div>
      <% output_options = OutPut.order(:id).map { |c| [c.name, c.id, data:{ multiple: c.multiple}] }%>
      <%= f.select(:out_put_id, output_options,  {}, {class:"select-box", data:{select:0}, id:"out_put"}) %>
    </div>
    
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">獲得経験値</label>
      
      </div>
      <%= f.hidden_field(:exp_point, id: "total_exp", )%>
    </div>
    
    <div class='sum-exp-btn'>
      <%= f.submit "経験値を追加", class:"sum-exp-red-btn" %>
    </div>
    <% end %>
   
    
  </div>
</div>